<p>Explainable AI (XAI), also known as Interpretable AI, or Explainable Machine Learning (XML),[1] is artificial
    intelligence (AI) in which humans can understand the reasoning behind decisions or predictions made by the AI.[2] It
    contrasts with the "black box" concept in machine learning, where even the AI's designers cannot explain why it
    arrived at a specific decision.[3][4]

    XAI hopes to help users of AI-powered systems perform more effectively by improving their understanding of how those
    systems reason.[5] XAI may be an implementation of the social right to explanation.[6] Even if there is no such
    legal right or regulatory requirement, XAI can improve the user experience of a product or service by helping end
    users trust that the AI is making good decisions. XAI aims to explain what has been done, what is being done, and
    what will be done next, and to unveil which information these actions are based on.[7] This makes it possible to
    confirm existing knowledge, challenge existing knowledge, and generate new assumptions.

    This is a test on 11th of July, 14:54pm.
</p>